body {
    background-color:rgb(118, 119, 120);
     
  }
  
  
  nav,
  footer {
    background-color:white;
  }
  
  a {
    text-decoration: none;
    font-size: 1.5em;
  }
  
  h1,
  h2,
  h3 {
    letter-spacing: 0.1em;
  }
  
  .navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:100px;
}